<!DOCTYPE html>
<html lang="en">

<head>
    <title>Documentação Super API</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="app-assets/images/logo/logo-light.png">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="assets/documentation/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/documentation/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/documentation/plugins/elegant_font/css/style.css">
    <link rel="stylesheet" href="assets/documentation/plugins/prism/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/documentation/css/styles.css">



</head>

<body class="body-purple">
    <div class="page-wrapper">




        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="https://appsuper.github.io/documentation/">

                            <h2 class="branding text-bold"><img src="app-assets/images/logo/logo-light.png">&nbsp App
                                Super</h2>
                        </a>
                    </h1>

                </div>
                <!--//branding-->

                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="https://parceiro.appsuper.com.br/">Parceiro</a></li>
                    <li class="breadcrumb-item active">Documentação</li>
                </ol>

                <!-- <div class="top-search-box">
                    <form class="form-inline search-form justify-content-center" action="" method="get">

                        <input type="text" placeholder="Search..." name="search" class="form-control search-input">

                        <button type="submit" class="btn search-btn" value="Search"><i
                                class="fas fa-search"></i></button>

                    </form>
                </div> -->

            </div>
            <!--//container-->
        </header>
        <!--//header-->
        <div class="doc-wrapper">
            {{ content }}

        </div>
    </div>


</body>

</html>